.map-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85vh;
  padding: 20px;
  align-self: center;
}

.map {
  flex: 1;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.sidebar {
  display: flex;
  width: 400px;
  min-width: 300px;
  margin-left: 20px;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  color: #152341;
  text-align: left;
  overflow: hidden;
}

.sidebar-header {
  background-color: white;
}

.sidebar-content {
  flex: 1;
  padding: 20px;
  background-color: white;
  color: grey;
}
