.map-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85vh;
  padding: 20px;
  align-self: center;
}

.map {
  flex: 1;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.sidebar {
  display: flex;
  width: 400px;
  min-width: 300px;
  margin-left: 20px;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  color: #152341;
  text-align: left;
  overflow: hidden;
}

.sidebar-header {
  background-color: white;
}

.sidebar-content {
  flex: 1;
  padding: 20px;
  background-color: white;
  color: grey;
}

.input-container {
  background-color: #152341;
  border-radius: 8px;
  margin: 0 20px 20px 20px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.input {
  padding: 8px 12px;
  width: 100%;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
