 :root {
   font-family: system-ui;
   line-height: 1.5;
   font-weight: 400;

   color-scheme: dark;
   color: rgba(255, 255, 255, 0.87);
   background-color: #051729;

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }


 a {
   font-weight: 500;
   color: #3b92cc;
   text-decoration: inherit;
 }

 a:hover {
   color: #255d82;
 }


 body {
   margin: 0;
   place-items: center;
   min-width: 320px;
   min-height: 100vh;
 }


 h1 {
   place-self: center;
   font-size: 3.2em;
   line-height: 1.1;
 }

 p {
   font-size: 0.85em;
   line-height: 1.1;
 }

 article {
   background-color: grey;
   padding: 10;
   border-radius: 12px;
   margin-bottom: 10px;
 }

 button {
   margin: 5px;
   border-radius: 8px;
   border: 1px solid transparent;
   padding: 0.6em 1.2em;
   font-size: 1em;
   font-weight: 500;
   font-family: inherit;
   background-color: #2d2d2e;
   cursor: pointer;
   transition: border-color 0.25s;

   &:hover {
     border-color: #ffffff;
   }

   &:focus,
   &:focus-visible {
     outline: 4px auto -webkit-focus-ring-color;
   }
 }

 .filter-button,
 .add-button {
   background-color: #3b92cc;
 }

 .item-button {
   background-color: grey;
   margin: 0px;
   place-self: right;
 }

 .reset-button {
   place-self: right;
   border-color: #cc3b3b;
   background-color: #ffffff;
   color: #cc3b3b;
 }


 /* @media (prefers-color-scheme: light) {
   :root {
     color: #213547;
     background-color: #ffffff;
   }

   button {
     background-color: #3b92cc;

     &:hover {
       border-color: #000000;
       background-color: #255d82;
     }
   }
  } */