:root {
  font-family: system-ui;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #152341;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* Ancho mínimo al que se detendrá la ventana */
  min-width: 800px;
  min-height: 100vh;
  /* Evita la barra de desplazamiento, forzando al navegador a detener el encogimiento */
  overflow-x: hidden;
}

.wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

a {
  font-weight: 500;
  color: #3b92cc;
  text-decoration: inherit;
}

a:hover {
  color: #255d82;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  font-size: 0.85em;
  line-height: 1.1;
}

ul {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #284158;
  cursor: pointer;
  transition: border-color 0.25s;
  flex-shrink: 1;

  &:hover {
    border-color: #ffffff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.input-container-flex {
  display: flex;
  flex-grow: 1;
}

.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.input-content {
  display: flex;
  flex-grow: 1;
  gap: 10px;
}

.input-content input[type="text"] {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 100px;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #152341;
  color: white;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #284158;
  border-radius: 8px;
  margin-top: 15px;
  width: 100%;
  gap: 10px;
}

.filter-container button {
  margin: 5px 3px;
  padding: 0.6em 0.5em;
  flex-grow: 0;
  flex-shrink: 1;
  min-width: 70px;
}

.filter-group {
  display: flex;
  flex-wrap: wrap;
}

.reset-button {
  flex-grow: 0;
  flex-shrink: 0;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0.6em 0.5em;
  border-color: #cc3b3b;
  background-color: #ffffff;
  color: #cc3b3b;
}

.item-list {
  margin-top: 10px;
}

.item {
  background-color: #284158;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 10px;
  width: 100%;
}

.item article {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item article label,
.item article div {
  flex-grow: 1;
  margin-right: 0;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  display: flex;
  align-items: center;
}

.item article div input[type="text"]{
  flex-grow: 1;
}

.item article div button {
  flex-shrink: 0;
  flex-grow: 0;
  width: auto;
}

.item-buttons-group {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  width: auto;
}

.item-button {
  background-color: transparent;
  margin: 0px;
  border: none;
  padding: 0.5em;
  color: #ffffff;
  flex-shrink: 0;
  flex-grow: 0;
  width: auto;
}

.filter-button,
.add-button {
  background-color: #3b92cc;
}

/* @media (prefers-color-scheme: light) {

:root {
color: #213547;
background-color: #ffffff;
}


button {
background-color: #3b92cc;



&:hover {
border-color: #000000;
background-color: #255d82;
} */